<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoyLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{151,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{151,204}}</string>
                <key>sourceSize</key>
                <string>{175,204}</string>
            </dict>
            <key>BoyRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{151,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{151,204}}</string>
                <key>sourceSize</key>
                <string>{175,204}</string>
            </dict>
            <key>FemaleFarmerLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,308},{151,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,206}}</string>
                <key>sourceSize</key>
                <string>{151,206}</string>
            </dict>
            <key>FemaleFarmerLeftCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{151,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,206}}</string>
                <key>sourceSize</key>
                <string>{151,206}</string>
            </dict>
            <key>FemaleFarmerLeftLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,208},{151,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,206}}</string>
                <key>sourceSize</key>
                <string>{151,206}</string>
            </dict>
            <key>FemaleFarmerRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,155},{151,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,206}}</string>
                <key>sourceSize</key>
                <string>{151,206}</string>
            </dict>
            <key>FemaleFarmerRightCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,155},{151,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,206}}</string>
                <key>sourceSize</key>
                <string>{151,206}</string>
            </dict>
            <key>FemaleFarmerRightLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{151,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,206}}</string>
                <key>sourceSize</key>
                <string>{151,206}</string>
            </dict>
            <key>FemaleLordLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,620},{176,204}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{176,204}}</string>
                <key>sourceSize</key>
                <string>{178,208}</string>
            </dict>
            <key>FemaleLordLeftCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,826},{177,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,204}}</string>
                <key>sourceSize</key>
                <string>{177,204}</string>
            </dict>
            <key>FemaleLordLeftLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,630},{177,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,204}}</string>
                <key>sourceSize</key>
                <string>{177,204}</string>
            </dict>
            <key>FemaleLordRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{176,204}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,204}}</string>
                <key>sourceSize</key>
                <string>{178,208}</string>
            </dict>
            <key>FemaleLordRightCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,414},{177,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,204}}</string>
                <key>sourceSize</key>
                <string>{177,204}</string>
            </dict>
            <key>FemaleLordRightLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,208},{177,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,204}}</string>
                <key>sourceSize</key>
                <string>{177,204}</string>
            </dict>
            <key>GirlLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{143,205}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{143,205}}</string>
                <key>sourceSize</key>
                <string>{151,213}</string>
            </dict>
            <key>GirlRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,205}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{143,205}}</string>
                <key>sourceSize</key>
                <string>{151,213}</string>
            </dict>
            <key>MaleFarmerLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,630},{161,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,209}}</string>
                <key>sourceSize</key>
                <string>{161,209}</string>
            </dict>
            <key>MaleFarmerLeftCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,851},{166,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,209}}</string>
                <key>sourceSize</key>
                <string>{166,209}</string>
            </dict>
            <key>MaleFarmerLeftLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,793},{166,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,209}}</string>
                <key>sourceSize</key>
                <string>{166,209}</string>
            </dict>
            <key>MaleFarmerRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{161,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,209}}</string>
                <key>sourceSize</key>
                <string>{161,209}</string>
            </dict>
            <key>MaleFarmerRightCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{166,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,209}}</string>
                <key>sourceSize</key>
                <string>{166,209}</string>
            </dict>
            <key>MaleFarmerRightLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,683},{166,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,209}}</string>
                <key>sourceSize</key>
                <string>{166,209}</string>
            </dict>
            <key>MaleLordLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,522},{159,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,206}}</string>
                <key>sourceSize</key>
                <string>{159,206}</string>
            </dict>
            <key>MaleLordLeftCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,469},{159,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,206}}</string>
                <key>sourceSize</key>
                <string>{159,206}</string>
            </dict>
            <key>MaleLordLeftLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,461},{159,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,206}}</string>
                <key>sourceSize</key>
                <string>{159,206}</string>
            </dict>
            <key>MaleLordRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{159,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,206}}</string>
                <key>sourceSize</key>
                <string>{159,206}</string>
            </dict>
            <key>MaleLordRightCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,361},{159,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,206}}</string>
                <key>sourceSize</key>
                <string>{159,206}</string>
            </dict>
            <key>MaleLordRightLaugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,308},{159,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,206}}</string>
                <key>sourceSize</key>
                <string>{159,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a51bbdfcce9b7306edc17bcbe679a5d:1/1$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
