<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackJoker.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,502},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,502},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,502},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,502},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,502},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Club_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Heart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>RedJoker.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
            <key>Spade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,161}}</string>
                <key>sourceSize</key>
                <string>{123,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Poker.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7454b72bb31cf0b7e82a53f155f0120d:1/1$</string>
            <key>textureFileName</key>
            <string>Poker.png</string>
        </dict>
    </dict>
</plist>
